
@import url('https://fonts.googleapis.com/css?family=Orbitron&display=swap');
@import url('https://fonts.googleapis.com/css?family=VT323&display=swap');
@import url('https://fonts.googleapis.com/css?family=Share Tech Mono&display=swap');

html,body{
  font-size: 16px;
}

body {
  background: linear-gradient(-45deg, #CFBEEA, #D495FF, #B9BFFF, #FFFFFF);
  background-size: 3500% 3500%;
  animation: gradient 15s ease infinite;
  height: 100vh;
  }

.headline1 {
    font-family: 'Orbitron';
    padding: 5px;
    /*padding-top: 20px;*/
    font-size: 30px;
    text-shadow: 4px 4px 4px #FAFAFA;
}

.headline2 {
    text-shadow: 1px 1px 1px #FAFAFA;
    font-family: 'Orbitron';
    font-size: 35px;
}

.Image1 {
  width: 35%;
  float: right;
  margin-top: -20%;
  margin-right: -5%;
}

.Container1 {
  background-color: #FAFAFA;
  border: solid 2px black;
  box-shadow: rgba(240, 46, 170, 0.2) 5px 5px, rgba(240, 46, 170, 0.1) 10px 10px, rgba(240, 46, 170, 0.05) 15px 15px;
}

.intro {
   font-family: 'Share Tech Mono';
   font-size: 17px;
   padding: 5px;
}

span{
    display: inline-block;
    background: #fdfd96;
    font-size: 17px;
}

.Container2 {
  border: 10px solid black;
  background-color: #fdfd96;
  border: solid 2px black;
  box-shadow: rgba(240, 46, 170, 0.2) 5px 5px 5px 5px, rgba(240, 46, 170, 0.1) 10px 10px 10px 10px, rgba(240, 46, 170, 0.05) 15px 15px 15px 15px;
}

.timeline {
    font-family: 'Orbitron';
    font-size: 35px;
    margin-left: -20px;
    margin-bottom: 0px;
    text-align: right;
    text-shadow: 1px 1px 1px #FAFAFA;
}

.experience {
  font-family: 'Share Tech Mono';
  font-size: 15px;
  display: inline;
  background: #8aecff;
}

.year {
  font-family: 'VT323';
  font-size: 17px;
  margin-top: -20px;
}

.position {
  font-family: 'VT323';
  font-size: 17px;
  margin-top: -4px;
}

.smallcontainer1 {
    padding-left: 5px;
    border-bottom: solid 2px #BF53FF;
}

.img1{
  width: 38%;
  border-radius: 50%;
  float: right;
}

.smallcontainer2 {
  text-align: right; 
  border-bottom: solid 2px #BF53FF;
}

.img2{
  width: 38%;
  border-radius: 50%;
  float: left;
}

.smallcontainer3{
  margin-left: 5px;
  border-bottom: solid 2px #BF53FF;
}

.img3{
  width: 38%;
  border-radius: 50%;
  float: right;
}

.smallcontainer4 {
  text-align: right; 
  border-bottom: solid 2px #BF53FF;
  /*padding-right: 5px;*/
}

.img4{
  width: 38%;
  border-radius: 50%;
  float: left;
}

.smallcontainer5{
  padding-left: 5px;
  border-bottom: solid 2px #BF53FF;
}

.img5{
  width: 38%;
  border-radius: 50%;
  float: right;
}

.smallcontainer6 {
  text-align: right; 
  padding-right: 5px;
}

.img6{
  width: 40%;
  border-radius: 50%;
  float: left;
}

.MyFavourites {
    text-shadow: 1px 1px 1px #FAFAFA;
    font-family: 'Orbitron';
    padding: 5px;
    font-size: 35px;
}

.BigContainer {
  background-color: #8aecff;
  border: solid 2px black;
  box-shadow: rgba(240, 46, 170, 0.2) 6px 6px, rgba(240, 46, 170, 0.1) 11px 11px, rgba(240, 46, 170, 0.05) 14px 14px;
}

.articlewrap {
  border: solid 2px black;
  background-color: #FAFAFA;
  padding: 18px;
  box-shadow: #FDFD66 1px 1px, #FDFD96 2px 2px, #FEFEBE 4px 4px;
}

.title {
    font-family: 'VT323';
    font-size: 30px;
    color: black;
}

.excerpt {
    font-family: 'Share Tech Mono';
    font-size: 20px;
}

.date {
    font-family: monospace;
    font-size: 18px;
}

.storyimage { 
   width: 100%;
}

.Others {
    text-shadow: 1px 1px 1px #FAFAFA;
    font-family: 'Orbitron';
    padding: 5px;
    font-size: 35px;
}

.BigContainer2 {
  box-shadow: rgba(240, 46, 170, 0.2) 6px 6px, rgba(240, 46, 170, 0.1) 11px 11px, rgba(240, 46, 170, 0.05) 14px 14px;
  border: solid 2px black;
  background-color: #B9FBB9;
}

.rows {
  margin-top: -5px;
  border-bottom: solid 2px black;
}

.titlebig {
    font-family: 'VT323';
    font-size: 32px;
    color: black;
    margin-top: -5px;
}

.paper {
  font-family: 'VT323';
  font-size: 30px;
  font-style: italic;
  margin-top: -5%;
}
 
.date2 {
  font-family: 'VT323';
  font-size: 30px;
  margin-top: -5%;
}

footer {
  padding: 10px;
  font-family: 'Share Tech Mono';
  font-size: 16px;
  color: black;
  text-align: center;
}

/*animation*/
  
    .geeks {
        width: 180px;
        height: 3px;
        background: #BF53FF;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
  
    .geeks::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: #BF53FF;
        animation: animate 3s linear infinite;
    }
  
    @keyframes animate {
        0% {
            left: 0;
        }
  
        50% {
            left: 100%;
        }
  
        0% {
            left: 0;
        }
    }

/*background*/

@keyframes gradient {
0% {
background-position: 0% 50%;
}

50% {
background-position: 100% 50%;
}

100% {
background-position: 0% 50%;
}
}

@media only screen and (max-width: 600px) {
  body {
    background-color: lightblue;
  }
}

